{% extends 'hwapp/base.html' %}

{% block title %}{{ user.name }}'s Orders{% endblock %}

{% block content %}
    <h2>все заказы пользователя: {{ user.name }} (id= {{ user.id }})</h2>
    {% if orders %}
        {% for order in orders %}
            <h1>Заказ №{{ order.id }}</h1>
            <p>Дата создания: {{ order.order_date }}</p>
            <p>Общая стоимость: {{ order.sum }}</p>
            <h3>Товары: {{ order.thing.thing_name }}</h3>
        {% endfor %}
    {% elif customer.id == NULL %}
        <p>Нет такого клиента</p>
     {% else %}
        <p>Заказов нет</p>
    {% endif %}
{% endblock %}